<!-- login.html -->
<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ログイン</h2>

      <%= form_for :user, url: session_path do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "form__btn" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
